<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE xml>
<!-- Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出。 -->
<!-- monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数。 -->
<configuration status="error" monitorInterval="30">
	<properties>
		<property name="log_home">${sys:catalina.home}/cus-web/</property>
	</properties>
	<appenders>
		<!--这个输出控制台的配置 -->
		<Console name="Console" target="SYSTEM_OUT">
			<!-- 控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="[%p] [%t] [%d{HH:mm:ss.SSS}] %l -%m%xEx%n" />
		</Console>
		<!-- 文件会打印出所有信息，这个log每次重启项目会自动清空，由append属性决定，这个也挺有用的，适合临时测试用 -->
		<!-- append为TRUE表示重启后消息增加到指定文件中，false表示重启后消息覆盖指定的文件内容，默认值是true -->
		<File name="log" fileName="${log_home}/temp.log" append="false">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%-5level] %class{36} %L %M - %msg%xEx%n" />
		</File>
		<!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
		<!-- <RollingFile name="RollingFile" fileName="G:/tmp/log4j2/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="[%d{yyyy-MM-dd 'at' HH:mm:ss z}] [%-5level] %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="50M" />
			DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20
			<DefaultRolloverStrategy max="20" />
		</RollingFile> -->
		
		<RollingFile name="RollingFile" fileName="${log_home}/all.log"
			filePattern="${log_home}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="[%d{yyyy-MM-dd 'at' HH:mm:ss z}] [%-5level] %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="50M" />
			<!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</appenders>
	<loggers>
		<!-- 过滤掉spring和mybatis的一些信息，输出到配置的一个或多个AppenderRef中 -->
	<!--	<logger name="org.springframework" level="debug" additivity="true">
			<AppenderRef ref="log" />
			<AppenderRef ref="Console" />
		</logger>-->
		<!-- <logger name="org.mybatis" level="INFO" additivity="false"> <AppenderRef ref="log" /> </logger> -->
		<!-- 建立一个默认的root的level是全局级别的 -->
		<root level="info">
			<appender-ref ref="Console" />
			<appender-ref ref="log" />
			<appender-ref ref="RollingFile" />
		</root>

	</loggers>
</configuration>
