<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- <appender name="console" class="ch.qos.logback.core.ConsoleAppender"> <encoder> <pattern>%date{HH:mm:ss.SSS} 
		[%thread] %-5level %logger{36} - %msg%n</pattern> </encoder> </appender> -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- %d 时间 %-5level 日志级别 %logger 包名 %X{sessionId} 从log的上下文中取sessionId的值 %m 输出应用输出的日志信息 %n 和平台无关的换行 -->
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %logger |
				%X{LogNo}
				| %X{SysCode} |
				%X{EntityCode} |
				%X{transName} |
				%X{sessionId} |
				%X{userId}
				| %m%n</Pattern>
		</layout>
	</appender>



	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>G:/tmp/log/logback_demo.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>G:/tmp/log/logback_demo.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<root level="error">
		<!-- <appender-ref ref="console" /> <appender-ref ref="rollingFile" /> -->
	</root>
</configuration>